<a href="{{ url.uri }}">
  <img src="{{ file_url(icon_file) }}" >
  {% if view_mode == 'icon_and_link' %}
    <span class="icon-and-url">{{ url.uri }}</span>
  {% elseif view_mode == 'icon_and_title' %}
    <span class="icon-and-title">{{ elem.title }}</span>
  {% endif %}
</a>
